@import "./reset.css";


html,
body {

  overflow: hidden;
  width: 100%;
  height: 100%;

  background-color: #121212;
  -webkit-tap-highlight-color: transparent;
}

body {

  container-type: size;
  height: 100%;
}

#responsive-wrapper {

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

#app {

  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 9 / 16;
  width: 100%;
  height: auto;

  background-image: url("/assets/images/background.png");
  background-size: cover;
  image-rendering: pixelated;

  opacity: 0;
}

#app.animate-in {
  animation: fade-in 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

.loader {
  position: fixed;
  inset: 0;

  width: 100%;
  height: 100%;
}

.loader.animate-out {
  animation: fade-out 0.5s ease-in-out forwards;
}

@container (min-aspect-ratio: 9 / 16) {

  #app {
    width: auto;
    height: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}